# ---- Python ----
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- IDEs ----
.idea/
.vscode/

# ---- OS files ----
.DS_Store
Thumbs.db

# ---- Pytest ----
.pytest_cache/

# ---- Build / packaging ----
build/
dist/
*.egg-info/

# ---- Logs / outputs ----
*.log
*.tmp
